<!DOCTYPE html>
<html lang="en">

<head>
	<h1><%= title %></h1>
</head>

<body>
	<p><%= message %></p>
	<p>Interested in viewing some first pages of books? <a href="/about">Click here!</a></p>
	<%- include ("../partials/footer.ejs") %>
</body>

</html>